<div class="content-container">
        <main class="main-container">
          <div class="breadcrumb">
            <li><a href="#">Bidder Registration</a></li>
          </div>
          <div class="items-wrapper">
            <!-- ACCOUNT DETAILS -->
            <form id="account-details">
              <div class="form-wrapper">
                <div class="form-top">
                  <input type="text" id="name" placeholder="Name..." autocomplete="name" />
                  <input type="text" id="company" placeholder="Company..." />
                  <input type="text" id="address" placeholder="Street Address..." autocomplete="street-address" />
                  <input type="number" id="number" placeholder="Number" />
                  <input type="text" id="postcode" placeholder="Postcode" autocomplete="postal-code" />
                  <input type="text" id="phone" placeholder="Phone" />
                  <input type="text" id="mobile" placeholder="Mobile" />
                  <input type="text" id="drivers-licence" placeholder="Drivers Licence No" />
                  <input type="text" id="city" placeholder="City" />
                  <label class="input-helper--checkbox">
                    <select name="state" id="state" placeholder="State">
                      <option value="VIC" selected>VIC</option>
                      <option value="NSW">NSW</option>
                      <option value="QLD">QLD</option>
                    </select>
                  </label>
                  <label class="input-helper--checkbox">
                    <select name="country" id="country" placeholder="Counrty">
                      <option value="Australia" selected>Australia</option>
                      <option value="United Kingdon">United Kingdon</option>
                      <option value="United States">United States</option>
                      <option value="Brazil">Brazil</option>
                    </select>
                  </label>
                  <br><br>
  
                  <h1>HOW DID YOU FIND OUT ABOUT OUR AUCTIONS?</h1><br>
                  <input type="radio" id="how1" name="how" value="1">
                  <label for="how1" class="input-helper input-helper--radio">Internet</label>
  
                  <input type="radio" id="how2" name="how" value="2">
                  <label for="how2" class="input-helper input-helper--radio">Friend</label>
  
                  <input type="radio" id="how3" name="how" value="3">
                  <label for="how3" class="input-helper input-helper--radio">Driving By</label>
  
                  <input type="radio" id="how4" name="how" value="4">
                  <label for="how4" class="input-helper input-helper--radio">Vehicles</label>
  
                  <input type="radio" id="how5" name="how" value="5">
                  <label for="how5" class="input-helper input-helper--radio">Flyers</label>
  
                  <input type="radio" id="how6" name="how" value="6">
                  <label for="how6" class="input-helper input-helper--radio">Other</label>
  
                  <input type="email" id="email" placeholder="E-mail..." autocomplete="email" />
                  <button class="btn btn-green">Register</button>
                </div>
              </div>
            </form>
            <!-- END ACCOUNT DETAILS -->
          </div>
        </main>
