/* HEADER */
.top-container .top-header h1 {
  font-size: 2rem;
  line-height: 1.3rem;
  font-weight: 500;
  text-align: center;
}
.content-container {
  margin: 10px auto;
  width: calc(100vw - 40px);
  max-width: calc(1366px - 40px);
  flex-flow: row wrap;
}
/* MAIN */
.main-container .breadcrumb li:nth-of-type(1) {
  min-width: 15%;
}
.main-container {
  order: 1;
  width: 100%;
  margin-bottom: 10px;
}
.items-wrapper {
  border: 1px solid #ca1717;
  padding: 10px;
  display: flex;
  flex-flow: nowrap;
}
.main-container .items-wrapper .item-left {
  order: 1;
  text-align: center;
  padding: 10px;
  width: 15%;
  min-width: 180px;
}
.main-container .items-wrapper .item-middle {
  order: 2;
  padding: 10px 20px;
  border-left: 2px solid lightgray;
  border-right: 2px solid lightgray;
  width: 70%;
  min-width: 250px;
  border: none;
}
.main-container .items-wrapper .item-middle h1 {
  font-size: 1.1rem;
}
.main-container .items-wrapper .item-middle p {
  font-size: 0.85rem;
}
.main-container .items-wrapper .item-middle h2 {
  font-size: 0.85rem;
  margin-top: 1rem;
  text-align: end;
}
.main-container .items-wrapper .item-right {
  order: 3;
  padding: 10px;
  width: 15%;
  min-width: 250px;
}

/* MAIN - BID */
.main-container .item-right {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
.main-container .bid-container {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.main-container .bid-container h1 {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.main-container .bid-value {
  width: 200px;
  padding: 2px;
  line-height: 50px;
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid #009247;
}
.main-container .selector-container {
  position: relative;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  top: -1px;
}

.main-container .selector-floor img {
  position: absolute;
  width: 120px;
  z-index: 5;
  float: left;
  left: 1px;
}

.main-container .selector-online img {
  position: relative;
  width: 120px;
  left: 80px;
  z-index: 10;
}

/* BOTTOM */
.bottom-container .breadcrumb li:nth-of-type(1) {
  min-width: 15%;
}
.bottom-container {
  order: 2;
  width: 100%;
}
.bottom-container .items-wrapper .bottom-item {
  height: 100%;
  display: flex;
}
.bottom-container .items-wrapper .bottom-item .bottom-item-left {
  width: 4rem;
}
.bottom-container .items-wrapper .bottom-item .bottom-item-left img {
  margin-top: auto;
  margin-bottom: auto;
  line-height: 3rem;
  height: 4rem;
  vertical-align: text-top;
}
.bottom-container .items-wrapper .bottom-item .bottom-item-right {
  width: calc(100vw - 4rem - 60px);
}
.bottom-container .items-wrapper .bottom-item h1 {
  font-size: 1.1rem;
  display: inline-block;
  width: 49%;
  max-width: 600px;
}
.bottom-container .items-wrapper .bottom-item h2 {
  font-size: 0.85rem;
  display: inline-block;
  text-align: end;
  width: 49%;
  max-width: 600px;
}
.bottom-container .items-wrapper .bottom-item p {
  font-size: 0.85rem;
}

@media screen and (max-width: 765px) {
  .top-container {
    flex: 1 auto;
    width: 100%;
    flex-flow: row wrap;
    height: 180px;
  }
  .logo-container {
    flex: 1 auto;
    width: 100%;
    border: none;
    text-align: center;
  }
  .logo-container img {
    margin: auto;
  }
  .logo-container:after {
    display: none;
  }
  .top-header {
    flex: 1 auto;
    width: 100%;
    padding: 0px;
  }
  .items-wrapper {
    flex-flow: row wrap;
  }
  .main-container .item-left {
    flex: 1 auto;
    width: 100%;
  }
  .main-container .item-middle {
    flex: 1 auto;
    width: 100%;
  }
  .main-container .item-right {
    flex: 1 auto;
    width: 100%;
  }
}
