/* ASIDE */
/* NEWS */
 .aside-container .news-wrapper {
  width: 100%;
  overflow-y: scroll;
}

.items-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  border: 1px solid #ca1717;
  padding-left: 10px;
  padding-right: 0px;
}

.aside-container .news-wrapper .item {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ca1717;
}

.aside-container .news-wrapper .item h1 {
  font-weight: 900;
  font-size: 0.85rem;
  margin-bottom: 0.7rem;
}

.aside-container .news-wrapper .item p {
  font-weight: 0;
  font-size: 0.75rem;
}

.aside-container .news-wrapper .item .btn {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 5px;
}