<!-- BILLING HISTORY -->
<!-- ITEM 1 -->

  <div *ngFor='let billing of billingsHistory' class="item" 
      [ngClass]="{'outstanding': billing.status == 'outstanding', paid: billing.status == 'paid'}" >
      <div class="item-left">
          <span class="dot"
          [ngClass]="{'dot-red': billing.status == 'outstanding', 'dot-green': billing.status == 'paid'}"></span>
          <h1>{{ billing.title }} - Sale Number: {{ billing.saleNumber }}</h1>
          <h1>{{ billing.date }}</h1>
          <p>{{ billing.description }}</p>
        </div>
        <div class="item-middle">
          <span class="status">{{ billing.status | uppercase }}</span>
          <span class="status">{{ billing.amount | currency:'USD':'symbol':'1.0-0'}}</span>
        </div>
        <div class="item-right">
          <button class="btn" 
          [ngClass]="{'btn-red' : billing.status == 'outstanding', 'btn-green' : billing.status == 'paid'}">
            {{ billing.status == 'outstanding' ? 'PAY' : 'VIEW' }} INVOICE
          </button>
        </div> 
  </div>  

<!-- END BILLING HISTORY -->
  
